ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #9f9292;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: block;
    color: rgb(26, 17, 17);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #ddd;
  }

  
